<header>
  <h1>
    EmberCDV App
  </h1>
</header>
<div id="main">
  <div id="scrollable">
    <ul class="ui-table-view">
      {{#each page in model}}
        <li {{action 'goToPage' page}} class="disclosure">
          {{page.title}}
        </li>
      {{/each}}
    </ul>
    <br>
    <div class="content-padded text-center">
      <a href="#" {{action 'openModal' 'help'}}>
        Help
      </a>
    </div>
    <div class="content-padded text-center">
      Today is {{format-date today 'MMM DD, YYYY h:mma'}}
    </div>
  </div>
</div>

